$bgLight:#eaeaea;
$bgDark:#2b2a2a;
$textLight: #f5f5f5;
$hoverColor:rgb(0, 153, 255);
$themeBlue: #00adb5;
$bgStyling: rgba(0, 173, 181, 0.5);

@mixin round($radius) {
    border-radius: $radius;
}

@mixin border() {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgLight;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Beranda
/* Navbar */

.bg-light {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.corner-logo {
    display: flex;
    float: left;
    margin: 1rem;
    width: 16rem;
}

.no-bg {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar-toggler:focus {
    outline: none;
}

div#nav-main > ul > li.nav-adjustments {
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 1.5rem 2.5rem;

    a:hover {
        color: $hoverColor;
    }
}

div > ul > li.active > a.nav-link {
    color: #5d98b8;

    &:hover {
        color: $hoverColor;
    }
}

.navbar-dropdown {
    display: none;
    position: absolute;
    top: 6.3rem;
    left: 0;
    width: 100%;

    ul {
        li {
            list-style-type: none;

            a {
                color: rgba(0, 0, 0, 0.55);

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

.dropdown-divider {
    width: 97%;
}

/* Homepage Picture Section & About Us */

.homepage-pic {
    color: $themeBlue;
    position: relative;
}

.giant-pic {
    display: inline-block;
    height: 115vh;
    width: 100%;
}

.homepage-textbox {
    background: linear-gradient(to right, $bgStyling 50%, transparent 50%);
    height: 18rem;
    width: 40rem;
    position: absolute;
    left: 5rem;
    top: 10rem;

    #pic-text {
        font-family: Georgia, Times, 'Times New Roman', serif;
        position: inherit;
        top: 7.5rem;
        left: 10rem;
        
        .white-font {
            color: $textLight;
        }

    }
}

.center-button {
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 43%;
    z-index: 2;
}

.learn-more-button {
    background-color: $bgLight;
    border: none;
    @include round(50%);
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 8rem;
    width: 8rem;
    position: relative;
    transition: 0.5s;

    &:focus {
        background-color: $bgLight;
        outline: none;
    }

    &:hover {
        background-color: rgba(153, 153, 153, 0.1);
        color: $themeBlue;
    }

    &::before {
        content: '';
        border: #999999 solid 0.2rem;
        border-radius: 50% 50% 50% 0;
        height: 10rem;
        width: 10rem;
        position: absolute;
        opacity: 0;
    }

    &::after {
        content: '';
        background-image: url(./images/arrow.png);
        display: inline-block;
        height: 4rem;
        width: 4rem;
        position: absolute;
        bottom: 0;
        right: 2.05rem;
        opacity: 0;
        transition: 0.5s;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:hover::after {
        opacity: 1;
        -webkit-transform: translateY(2.6rem) rotate(45deg);
        transform: translateY(2.6rem) rotate(45deg);
    }
}

.slide-down {
    -webkit-transform: translateY(7.5rem);
    transform: translateY(7.5rem);
}

.slide-up {
    -webkit-transform: translateY(-7.2rem);
    transform: translateY(-7.2rem);
}

.hidden-bg {
    display: none;
    position: absolute;
    bottom: 0;

    .left-triangle {
        border-left: 54rem solid transparent;
        border-bottom: 14rem solid $bgStyling;
        position: inherit;
        bottom: 0;
        left: -13.7rem;
    }

    .right-triangle {
        border-right: 58.5rem solid transparent;
        border-bottom: 14rem solid $bgStyling;
        position: inherit;
        bottom: 0;
        left: 40.3rem;
    }
}

#hidden-div {
    background-color: transparent;
    color: $textLight;
    display: none;
    position: absolute;
    bottom: 0;
    text-align: center;

    p {
        margin: 0 15%;
        vertical-align: middle;
    }
}

/* Carousel & Company Profile */

.wrapper {
    position: absolute;
    top: 39rem;
    z-index: 1;
    transition: 0.5s;
}

.carousel-profile {
    background-color: $bgLight;
    padding: 8rem 4rem 6rem 4rem;
    text-align: center;
}

#myCarousel, .carousel-inner {
    margin: auto;
    height: 100%;
    width: 50%;
}

.carousel-indicators li {
    background-color: $themeBlue;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300adb5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300adb5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.border-radius {
    @include round(50%);
}

/* Footer */

.homepage-footer {
    color: $textLight;
    background-color: $bgDark;
    line-height: 218%;
}

.footer-navigation {
    margin-left: 3rem;
    padding: 3rem;

    ul {
        list-style-type: none;
        padding: 1rem 0 0 0;
    }

    a {
        color: $textLight;
        font-size: 0.95rem;
        text-decoration: none;

        &:hover {
            color: $hoverColor;
        }
    }

    hr {
        width: 10rem;
    }
}

.footer-line {
    border-top: 0.3rem solid $themeBlue;
    display: block;
    position: relative;
    top: 0.2rem;
    width: 8rem;
}

.footer-clock {
    padding: 3rem;
}

.iframe-clock {
    position: relative;
    top: 1.5rem;
}

// Page Kontak Kami

.contact-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.border-vertical-top {
    background: linear-gradient(to bottom, $bgLight, $themeBlue);
    @include border();
    width: 2px;
}

.border-vertical-bottom {
    background: linear-gradient(to top, $bgLight, $themeBlue);
    @include border();
    width: 2px;
}

.border-horizontal {
    background: linear-gradient(to right, $bgLight 0%, $themeBlue 50%, $bgLight 100%);
    @include border();
    height: 2px;
}

.credit p {
    font-size: 1rem;
    text-align: center;
}

.icons8-link {
    color: $themeBlue;
    text-decoration: none;
}

// Media queries

@media only screen and (max-width: 959px) {
    .footer-clock {
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 991px) {
    #nav-main {
        display: none;
    }
}