$bgLight:#eaeaea;
$bgDark:#2b2a2a;
$textLight: #f5f5f5;
$hoverColor:rgb(0, 153, 255);

@mixin round($radius) {
    border-radius: 50%;
}

@mixin border() {
    margin: 0;
    padding: 0;
}

@mixin vertica() {
    width: 2px;
}

body {
    background-color: $bgLight;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navbar */

.corner-logo {
    display: flex;
    float: left;
    margin: 1rem;
    width: 16rem;
}

div.collapse > ul.navbar-nav > li.nav-adjustments {
    display: flex;
    text-align: center;
    padding: 1.5rem 2.5rem;

    a:hover {
        color: $hoverColor;
    }
}

div.collapse > ul.navbar-nav > li.active > a.nav-link {
    color: #000;
    &:hover {
        color: $hoverColor;
    }
}

/* Homepage Picture Section & About Us */

.homepage-pic {
    color: #00adb5;
    position: relative;
}

.giant-pic {
    display: inline-block;
    height: 84vh;
    width: 100%;
}

.img-box-shadow {
    box-shadow: inset 0 0.8rem 0.6rem -0.4rem #ffffff;
    position: absolute;
    height: 84vh;
    width: 100%;
    top: 0;
    left: 0;
}

.homepage-textbox {
    border: 0.5rem solid #00adb5;
    position: absolute;
    margin: 1rem;
    padding: 1.5rem;
    top: 4rem;
    left: 15.5rem;
    height: 19rem;
    width: 50rem;
    z-index: 10;
}

.pic-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.8rem;
    position: absolute;
    top: 7.5rem;
    left: 7.7rem;
}

.center-button {
    display: flex;
    position: absolute;
    bottom: -11.5%;
    left: 43%;
    z-index: 1;
}

.learn-more-button {
    background-color: $bgLight;
    border: none;
    @include round(50%);
    height: 8rem;
    width: 8rem;
    position: relative;
    transition: 0.3s;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: rgba(153, 153, 153, 0.1);
        color: $textLight;
        -webkit-animation: button-up 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: button-up 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    &::after {
        content: '';
        background-image: url(./images/arrow.png);
        height: 4rem;
        width: 4rem;
        position: absolute;
        bottom: -0.6rem;
        right: 1.85rem;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover::after {
        opacity: 1;
        transform: translateY(2.4rem);
    }
}

.animated {
    -webkit-animation: button-down 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: button-down 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes button-up {
    from {
        -webkit-transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-2.4rem)
    }
}

@keyframes button-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-2.4rem)
    }
}

@-webkit-keyframes button-down {
    from {
        -webkit-transform: translateY(-2.4rem);
    }

    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes button-down {
    from {
        transform: translateY(-2.4rem);
    }

    to {
        transform: translateY(0);
    }
}

#left-circle {
    position: absolute;
    transition: 0.3s;
}

#right-circle {
    position: absolute;
    transition: 0.3s;
}

#hidden-div {
    background-color: $bgLight;
    display: none;
    padding: 10% 5% 5% 5%;
    position: relative;
    text-align: center;
    z-index: -10;

    p {
        margin: 0 15%;
        vertical-align: middle;
    }
}

/* Carousel & Company Profile */

.carousel-profile {
    background-color: $bgLight;
    padding: 5rem 3rem 3rem;
}

.border-radius {
    @include round(50%);
}

/* Footer */

.homepage-footer {
    color: $textLight;
    background-color: $bgDark;
    line-height: 218%;
}

.footer-navigation {
    display: flexbox;
    margin-left: 3rem;
    padding: 3rem;

    ul {
        list-style-type: none;
        padding: 1rem 0 0 0;
    }

    a {
        color: $textLight;
        font-size: 0.95rem;
        text-decoration: none;

        &:hover {
            color: $hoverColor;
        }
    }

    hr {
        width: 10rem;
    }
}

.footer-line {
    display: flex;
    position: relative;
    top: 0.2rem;
    width: 8rem;
    border-top: 0.3rem solid #00adb5;
}

.footer-clock {
    display: flexbox;
    padding: 3rem;
}

.iframe-clock {
    position: relative;
    top: 1.5rem;
}

// Page Kontak Kami

.contact-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.border-vertical-top {
    background: linear-gradient(to bottom, $bgLight, #00adb5);
    @include border();
    @include vertica();
}

.border-vertical-bottom {
    background: linear-gradient(to top, $bgLight, #00adb5);
    @include border();
    @include vertica();
}

.border-horizontal {
    background: linear-gradient(to right, $bgLight 0%, #00adb5 50%, $bgLight 100%);
    @include border();
    height: 2px;
}

.credit p {
    font-size: 1rem;
    text-align: center;
}

.icons8-link {
    color: #00adb5;
    text-decoration: none;
}

// Media queries

@media only screen and (max-width: 959px) {
    .footer-clock {
        margin-left: 3rem;
    }
}